.stacked-card {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.stacked-card .icon {
	background-color: rgba(255,255,255,0.08);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	pointer-events: auto;
	position: absolute;
	right: 30px; bottom: 30px;
}

.hidden-card-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 15;
	pointer-events: none;
}