html, body, #root {
	margin: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	font-family: "Helvetica Neue", sans-serif;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

*, ::after, ::before {
	 box-sizing: content-box !important;
}

.device-wrapper {
	border-radius: 66px;
	box-shadow: 0 4px 50px -20px black;
}

.app {
	background-color: #eeeff4;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: relative;
}

.top-row {
	flex: 1;
	width: 100%;
}

.bottom-row {
	flex: 1;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.logo {
	margin-top: 5px;
	background-color: #ff1900;
	padding: 8px;
	border-radius: 5px;
	font-size: 50%;
	color: #eeeff4;
}